/* Template Inicio */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css";
ul.products li {
  /* display: none; */
  opacity: 0;
}
#main-footer {
  background-color: #222;
  /* position: fixed; */
  width: 100%;
  /* bottom: 0; */
  min-height: 45px;
}
div#et-main-area .products li a h3 {
  text-align: center;
  font-weight: 100;
  font-size: 1em;
  padding-top: 6px;
}
#mapa_playa {
  position: relative;
}
.header-mar {
  height: 115px;
  width: 100%;
  position: absolute;
  bottom: -40px;
  left:0;
  z-index: -1;
  /*  */
  animation-name: mov;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.fondo-playa {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left:0;
  z-index: -1;
}
.et-social-icons {
  margin-bottom: 0;
}
#footer-bottom {
    padding: 4px 0 0;
}
.footer-social {
  margin: 0;
  padding: 6px 0 0;
}
.copyright {
  color: whitesmoke;
  padding: 9px 16px;
  margin: 0;
}
.woocommerce-LoopProduct-link {
  color: black;
  font-size: .8em;
  font-weight: 100;
}
.woocommerce-LoopProduct-link:hover {
  color: #2EA3F2;
  text-decoration: none;
}
/*  */
/*  */
// Animation
@-webkit-keyframes mov {
  0% {
    -webkit-transform: translate3d(0px,-3px,0px);
    -moz-transform: translate3d(0px,-3px,0px);
    -ms-transform: translate3d(0px,-3px,0px);
    -o-transform: translate3d(0px,-3px,0px);
  }
  100% {
    -webkit-transform: translate3d(0px,2px,0px);
    -moz-transform: translate3d(0px,2px,0px);
    -ms-transform: translate3d(0px,2px,0px);
    -o-transform: translate3d(0px,2px,0px);
  }
}
@keyframes mov {
  0% {
    transform: translate3d(0px,-3px,0px);
  }
  100% {
    transform: translate3d(0px,2px,0px);
  }
}
