/* Template Inicio */
#main-footer {
    background-color: #222;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
}
div#et-main-area .products li a h3 {
  text-align: center;
  font-weight: 100;
  font-size: 1em;
}
.header-mar {
  height: 160px;
  width: 100%;
}
